.navbar {
    text-transform: uppercase;

    .navbar-nav > li > a {
        color: white;
    }

    .navbar-link    {
        color: white;
    }

    .navbar-brand   {
        color: white;
        letter-spacing: 1.5px;
    }

    .signedout  {
        font-size: smaller;
        margin-top: 10px;

    }

    .signedin   {
        font-size: smaller;
        margin-top: 10px;
    }

    .showquestions    {
      font-size: smaller;
      margin-top: 10px;
    }
}
