// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

answers-list{
  width: 100%;
  color: #000000;
  height: 3px;
}
