.userpanel-container{
	margin: 0;
	padding: 10px;
}

.wrapper{
	margin: 0;
	padding: 0;
}

.sidebar-wrapper{
	margin: 0;
	padding: 0;
}

#sidebar{
	width: 15em;
	padding: 0;
	margin: 0;
	position: fixed;
}
