
<h2>All Answers</h2>
<% @question.answers.each do |answer| %>
    <div class="well">
    	<p><strong><%= answer.user %></strong>: <p><%= answer.body %></p>
    
    <%= link_to '[X]', [answer.question, answer], 
    	method: :delete,
        data: {confirm: 'Are you sure?'} %> </p>
    </div>
<% end %>
