<!-- temporary location for the sign in button -->
<%= button_to 'Sign in'%> 
<h1> QA WebApp </h1>
<%= button_to 'Ask a question', new_question_path, :method => :get %>
<h2> All Questions </h2>
<hr>
<% @questions.each do |question|%>
<h3> <%= link_to "#{question.title}", question  %> </h3>
<h6> Date posted: <%= question.created_at %> </h6>
<hr>
<% end %>