<h1 align="center"> Listing all Questions </h1>

	

<% @questions.each do |question| %>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-4">
			<div class="well well-lg">
				<div class="question-title">
		<%= link_to question.title, question_path(question) %>
	</div>
	<div class="question-body">
		<%= truncate(question.text, length: 100) %>
	</div>
	<div class="question-actions">
		<%= link_to "Edit this question", edit_question_path(question), class: "btn btn-xs btn-primary" %>
		
		    </div>
	  </div>
    </div>
</div>
	<% end%>