<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>New Question</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<div class="container">
    <div class="form-group">

    <form action="/questions" class="new_question" id="new_question" method="post">

    <h2> New Question </h2><br>

      <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@question.errors.count, "error") %> prohibited
        this article from being saved:              
      </h2>
      <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <br>
    <input name="authenticity_token" type="hidden" value="NrOp5bsjoLRuK8IW5+dQEYjKGUJDe7TQoZVvq95Wteg=" />

    <label for="title">Title:</label><br>
    <input type="text" name="question[title]" type="title">
    <br><br>

    <label for="Content">Content:</label><br>
    <textarea cols="85" rows="10" id="question_text" name="question[text]"></textarea><br>
  
    <input name="commit" type="submit" value="Post Question"/>
    <br><br>
  </form>
  <%= button_to 'Cancel', questions_path, method: :get%>

  </div>
</div>

</body>
</html>

