
<div class="jumbotron">
	<div class='text-center'>
  	  <h1 class="display-4">Welcome to our Q & A site!</h1>
	  <p class="lead">On this application you can post your questions and answers folks' questions</p>
  	</div>
  	<hr class="my-4">
  	<div class="text-center">
  	  	<p>Before you can do all this awesome stuff you have to sign up. If you don't want to sign up 			now, you can still view the questions asked.</p>
  <br><br><br><br>
  	</div>
  <!-- insert some ruby code for the form instead of HTML -->
  
  <%= render 'users/form', user: @user %>

  <form>

<!-- INCASE BREAK, PASTE HERE -->

	<div class="text-center">
    <button type="submit" class="btn btn-primary">Sign up</button>
	<br><br>
	<a type="button" class="btn btn-primary" href="/questions">I don't want to sign-up</a>
	</div>
  </form>
  
</div>