<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="http://www.concordia.ca"> QA Webapp Soen341 Concordia University</a>
			by <a href="https://github.com/samgo1/Soen341"> SD4</a>
		</small>
			