
<div class="wrapper sidebar-wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="userpanel-container well">
            <% if @user.nil? %>
                <ul class="list-unstyled components">
                    <li>
                        <h3>Logged in!</h3>
                    <%#<%= link_to "#{@name}", edit_user_path(@user:id) %>
                    </li>
                    <li>
                        <%= link_to "Your questions", questions_path %>
                    </li>
                    <li>
                        <a href="#">Your answers</a>
                    </li>
                    <li>
                        <a href="#">Your messages</a>
                    </li>
                </ul>
            <% else %>
                <h3>Anonymous</h3>
                <p><%= link_to "Sign up", home_path %> for free to enjoy this QA website to the max!</p>
                <p>If you already signed up, <%= link_to "log in", sessions_new_path %> to ask and answer questions!</p>
            <%end%>
        </div>
    </nav>
</div>
