
<div class="wrapper">
    <!-- Sidebar Holder -->
    <div class="sidebar-wrapper">
        <nav id="sidebar">
            <div class="container-fluid">
                <nav id="userpanel">
                    <ul class="list-unstyled components">
                        <li>
                            <h3><a href='#'>User Name</a></h3>
                        </li>
                        <li>
                            <a href="#">User questions</a>
                        </li>
                        <li>
                            <a href="#">User answers</a>
                        </li>
                        <li>
                            <a href="#">Messages</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
