<!--User Show Page.
Every content on this page is aligned to the center.
Displays the gravatar associated with the user profile
Questions are rendered from _question.html.erb partial.
Each question is separated with bootstrap wells containing the title of the question in blue, 
a sample of the question and information about who asked the question (when and last updated)-->

<h1 align="center"> Welcome to <%= @user.username %>'s page</h1>
<div class="row">
	<div class="col-md-4 col-md-offset-4 center">
		<%= gravatar_for @user, size: 150 %>
	</div>
</div>
<h4 align="center"><%= @user.username %>'s questions</h4>
<%= render 'questions/question', obj:@user.questions %>


